In [1]:
import pandas as p
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.svm import LinearSVC
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
real = p.read_csv('india-news-headlines.csv')

In [3]:
real

,publish_date,headline_category,headline_text
0,20010102,unknown,Status quo will not be disturbed at Ayodhya; s...
1,20010102,unknown,Fissures in Hurriyat over Pak visit
2,20010102,unknown,America's unwanted heading for India?
3,20010102,unknown,For bigwigs; it is destination Goa
4,20010102,unknown,Extra buses to clear tourist traffic
...,...,...,...
3650965,20220331,city.srinagar,J&K sacks 2 cops; 3 other employees over terro...
3650966,20220331,entertainment.hindi.bollywood,Ranbir Kapoor says 'Rishi Kapoor enjoyed his a...
3650967,20220331,city.trichy,As Covid-19 cases drop to nil in southern dist...
3650968,20220331,city.erode,Tamil Nadu sees marginal rise of Covid cases w...
3650969,20220331,city.salem,Tamil Nadu sees marginal rise of Covid cases w...

In [4]:
real[:3729].to_csv('real news')

In [5]:
real = real[:3729 ]

In [6]:
real

,publish_date,headline_category,headline_text
0,20010102,unknown,Status quo will not be disturbed at Ayodhya; s...
1,20010102,unknown,Fissures in Hurriyat over Pak visit
2,20010102,unknown,America's unwanted heading for India?
3,20010102,unknown,For bigwigs; it is destination Goa
4,20010102,unknown,Extra buses to clear tourist traffic
...,...,...,...
3724,20010427,unknown,Tinsel Ville: Beat the heat!
3725,20010427,unknown,Cong urges Sonia to take up Telangana issue
3726,20010427,unknown,Deputy speaker not to quit TDP
3727,20010427,unknown,State govt seeks details of Central funding to...
3728,20010427,unknown,Adoption authority team visits agencies in city

In [7]:
fake = p.read_csv('news_dataset.csv')

In [8]:
fake

     label                                               text
0     REAL  Payal has accused filmmaker Anurag Kashyap of ...
1     FAKE  A four-minute-long video of a woman criticisin...
2     FAKE  Republic Poll, a fake Twitter account imitatin...
3     REAL  Delhi teen finds place on UN green list, turns...
4     REAL  Delhi: A high-level meeting underway at reside...
...    ...                                                ...
3724  REAL  19:17 (IST) Sep 20\n\nThe second round of coun...
3725  REAL  19:17 (IST) Sep 20\n\nThe second round of coun...
3726  FAKE  The Bengaluru City Police’s official Twitter h...
3727  REAL  Sep 20, 2020, 08:00AM IST\n\nSource: TOI.in\n\...
3728  REAL  Read Also\n\nRead Also\n\nAdvocate Ishkaran Bh...

[3729 rows x 2 columns]

In [9]:
real = real.drop(labels=['headline_category','publish_date'],axis=1)

In [10]:
real

                                          headline_text
0     Status quo will not be disturbed at Ayodhya; s...
1                   Fissures in Hurriyat over Pak visit
2                 America's unwanted heading for India?
3                    For bigwigs; it is destination Goa
4                  Extra buses to clear tourist traffic
...                                                 ...
3724                       Tinsel Ville: Beat the heat!
3725        Cong urges Sonia to take up Telangana issue
3726                     Deputy speaker not to quit TDP
3727  State govt seeks details of Central funding to...
3728    Adoption authority team visits agencies in city

[3729 rows x 1 columns]

In [11]:
real.rename(columns={'headline_text':'text'},inplace=True)

In [12]:
real

                                                   text
0     Status quo will not be disturbed at Ayodhya; s...
1                   Fissures in Hurriyat over Pak visit
2                 America's unwanted heading for India?
3                    For bigwigs; it is destination Goa
4                  Extra buses to clear tourist traffic
...                                                 ...
3724                       Tinsel Ville: Beat the heat!
3725        Cong urges Sonia to take up Telangana issue
3726                     Deputy speaker not to quit TDP
3727  State govt seeks details of Central funding to...
3728    Adoption authority team visits agencies in city

[3729 rows x 1 columns]

In [13]:
fake = fake[fake['label']=='FAKE']

In [14]:
fake

     label                                               text
1     FAKE  A four-minute-long video of a woman criticisin...
2     FAKE  Republic Poll, a fake Twitter account imitatin...
6     FAKE  A viral image showing controversial Islamic pr...
7     FAKE  Several photos are being shared with the misle...
8     FAKE  The driver of the DMU train Arvind Kumar has N...
...    ...                                                ...
3718  FAKE  While addressing the Lok Sabha on February 6, ...
3719  FAKE  A set of images is being shared on Facebook wi...
3720  FAKE  Barely 48 hours ahead of voting in the assembl...
3722  FAKE  A quote by an impostor Facebook page of Financ...
3726  FAKE  The Bengaluru City Police’s official Twitter h...

[1877 rows x 2 columns]

In [15]:
fake.drop(labels='label',axis=1)

                                                   text
1     A four-minute-long video of a woman criticisin...
2     Republic Poll, a fake Twitter account imitatin...
6     A viral image showing controversial Islamic pr...
7     Several photos are being shared with the misle...
8     The driver of the DMU train Arvind Kumar has N...
...                                                 ...
3718  While addressing the Lok Sabha on February 6, ...
3719  A set of images is being shared on Facebook wi...
3720  Barely 48 hours ahead of voting in the assembl...
3722  A quote by an impostor Facebook page of Financ...
3726  The Bengaluru City Police’s official Twitter h...

[1877 rows x 1 columns]

In [16]:
fake['class']=0

C:\Users\PAVAN\AppData\Local\Temp\ipykernel_9428\2978286852.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fake['class']=0

In [17]:
fake

     label                                               text  class
1     FAKE  A four-minute-long video of a woman criticisin...      0
2     FAKE  Republic Poll, a fake Twitter account imitatin...      0
6     FAKE  A viral image showing controversial Islamic pr...      0
7     FAKE  Several photos are being shared with the misle...      0
8     FAKE  The driver of the DMU train Arvind Kumar has N...      0
...    ...                                                ...    ...
3718  FAKE  While addressing the Lok Sabha on February 6, ...      0
3719  FAKE  A set of images is being shared on Facebook wi...      0
3720  FAKE  Barely 48 hours ahead of voting in the assembl...      0
3722  FAKE  A quote by an impostor Facebook page of Financ...      0
3726  FAKE  The Bengaluru City Police’s official Twitter h...      0

[1877 rows x 3 columns]

In [18]:
real['class']=1

In [19]:
real

                                                   text  class
0     Status quo will not be disturbed at Ayodhya; s...      1
1                   Fissures in Hurriyat over Pak visit      1
2                 America's unwanted heading for India?      1
3                    For bigwigs; it is destination Goa      1
4                  Extra buses to clear tourist traffic      1
...                                                 ...    ...
3724                       Tinsel Ville: Beat the heat!      1
3725        Cong urges Sonia to take up Telangana issue      1
3726                     Deputy speaker not to quit TDP      1
3727  State govt seeks details of Central funding to...      1
3728    Adoption authority team visits agencies in city      1

[3729 rows x 2 columns]

In [20]:
mix= p.concat([real,fake],axis=0)

In [21]:
mix=mix.drop(labels='label',axis=1)

In [22]:
mix.isna().sum()

text     6
class    0
dtype: int64

In [23]:
mix.dropna()

                                                   text  class
0     Status quo will not be disturbed at Ayodhya; s...      1
1                   Fissures in Hurriyat over Pak visit      1
2                 America's unwanted heading for India?      1
3                    For bigwigs; it is destination Goa      1
4                  Extra buses to clear tourist traffic      1
...                                                 ...    ...
3718  While addressing the Lok Sabha on February 6, ...      0
3719  A set of images is being shared on Facebook wi...      0
3720  Barely 48 hours ahead of voting in the assembl...      0
3722  A quote by an impostor Facebook page of Financ...      0
3726  The Bengaluru City Police’s official Twitter h...      0

[5600 rows x 2 columns]

In [24]:
mix.isna().sum()

text     6
class    0
dtype: int64

In [25]:
mix.dropna(subset='text',inplace=True)

In [26]:
mix

                                                   text  class
0     Status quo will not be disturbed at Ayodhya; s...      1
1                   Fissures in Hurriyat over Pak visit      1
2                 America's unwanted heading for India?      1
3                    For bigwigs; it is destination Goa      1
4                  Extra buses to clear tourist traffic      1
...                                                 ...    ...
3718  While addressing the Lok Sabha on February 6, ...      0
3719  A set of images is being shared on Facebook wi...      0
3720  Barely 48 hours ahead of voting in the assembl...      0
3722  A quote by an impostor Facebook page of Financ...      0
3726  The Bengaluru City Police’s official Twitter h...      0

[5600 rows x 2 columns]

In [27]:
mix.isna().sum()

text     0
class    0
dtype: int64

In [28]:
mix = mix.sample(frac=1)

In [29]:
mix

                                                   text  class
31          Dilute the power of transfers; says Riberio      1
2950               Cola wars meant to keep demand fizzy      1
2276     Hotel bill inflated; claim Jharkhand ministers      1
926                             DoCoMo eyeing US market      1
2877       Raveena Tandon: 'Sorry' says Pradeep Kishan!      1
...                                                 ...    ...
840   Here’s a round-up of News You Almost Believed....      0
3693                          Govinda: Kin(d) gestures!      1
1441        Becker's girlfriend has her roots in B'lore      1
3681  A video clip from Hyderabad of a dairy worker ...      0
122             TOI scribe among Press Academy awardees      1

[5600 rows x 2 columns]

In [30]:
x = mix['text']

In [31]:
y = mix['class']

In [32]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.4)

In [33]:
vec =TfidfVectorizer()
X_train_vec = vec.fit_transform(x_train).toarray()
X_test_vec = vec.transform(x_test).toarray()

In [34]:
X_train_vec

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [35]:
X_test_vec

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [36]:
RC = RandomForestClassifier()
RC.fit(X_train_vec,y_train)

RandomForestClassifier()

In [37]:
RC.score(X_test_vec,y_test)

1.0

In [39]:
LS = LinearSVC()
LS.fit(X_train_vec,y_train)

LinearSVC()

In [40]:
LS.score(X_test_vec,y_test)

0.9982142857142857

In [42]:
model=GradientBoostingClassifier()

In [43]:
model.fit(X_train_vec,y_train)

GradientBoostingClassifier()

In [44]:
model.score(X_test_vec,y_test)

1.0

In [45]:
import joblib

In [46]:
joblib.dump(LS,'../model.joblib')

['../model.joblib']

In [47]:
joblib.dump(model,'../NewsD/model2.joblib')

['../NewsD/model2.joblib']

In [48]:
social = p.read_csv('social_media.csv')

In [49]:
social

,IDLink,Title,Headline,Source,Topic,PublishDate,Facebook,GooglePlus,LinkedIn,SentimentTitle,SentimentHeadline
0,Tr3CMgRv1N,Obama Lays Wreath at Arlington National Cemetery,Obama Lays Wreath at Arlington National Cemete...,USA TODAY,obama,2002-04-02 00:00:00,-1,-1,-1,0.000000,-0.053300
1,Wc81vGp8qZ,A Look at the Health of the Chinese Economy,"Tim Haywood, investment director business-unit...",Bloomberg,economy,2008-09-20 00:00:00,-1,-1,-1,0.208333,-0.156386
2,zNGH03CrZH,Nouriel Roubini: Global Economy Not Back to 2008,"Nouriel Roubini, NYU professor and chairman at...",Bloomberg,economy,2012-01-28 00:00:00,-1,-1,-1,-0.425210,0.139754
3,3sM1H0W8ts,Finland GDP Expands In Q4,Finland's economy expanded marginally in the t...,RTT News,economy,2015-03-01 00:06:00,-1,-1,-1,0.000000,0.026064
4,wUbnxgvqaZ,"Tourism, govt spending buoys Thai economy in J...",Tourism and public spending continued to boost...,The Nation - Thailand&#39;s English news,economy,2015-03-01 00:11:00,-1,-1,-1,0.000000,0.141084
...,...,...,...,...,...,...,...,...,...,...,...
55927,jQ3CeLRCb9,Fidel Castro Lashes Out at Obama After Cuba Visit,Retired Cuban leader Fidel Castro slammed Pres...,Wall Street Journal,obama,2016-03-29 01:35:06,794,10,5,-0.135417,-0.055902
55928,akNYeJ8opY,JOHN CRISP | Obama's strategic reaction to Bru...,President Obama caught some predictable flak f...,Kitsap Sun,obama,2016-03-29 01:35:08,0,0,0,0.236228,0.056110
55929,n2DGs0c8IG,Think Trump's 45 Percent Tariffs Are Bad? Try ...,While Trump wants to put large tariffs on impo...,Huffington Post,obama,2016-03-29 01:35:09,102,4,0,0.025747,0.114820
55930,P0EBiaSEjq,Microsoft finally releases giant Surface,Microsoft’s business customers are finally beg...,TechEye,microsoft,2016-03-29 01:38:00,0,0,0,0.000000,-0.028296
55931,99MLvyAQTJ,Rays of sunshine in the US economy,AS WE all know from listening to the campaign ...,Washington Post,economy,2016-03-29 01:41:08,75,7,19,0.000000,0.184444

In [ ]:
det = social.drop(labels=[''])

In [50]:
model.predict(X_test_vec)

array([1, 1, 1, ..., 1, 0, 1], dtype=int64)

In [55]:
model.predict(X_test_vec).min()

0

In [38]:
import pickle

In [41]:
pickle.dump(LS, open('model2.pkl', 'wb'))

In [42]:
pickle.dump(vec, open('tfidfvect2.pkl', 'wb'))