In [1]:
import pandas as p
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.svm import LinearSVC
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
real = p.read_csv('india-news-headlines.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'toi/india-news-headlines.csv'

In [12]:
real

,publish_date,headline_category,headline_text
0,20010102,unknown,Status quo will not be disturbed at Ayodhya; s...
1,20010102,unknown,Fissures in Hurriyat over Pak visit
2,20010102,unknown,America's unwanted heading for India?
3,20010102,unknown,For bigwigs; it is destination Goa
4,20010102,unknown,Extra buses to clear tourist traffic
...,...,...,...
3650965,20220331,city.srinagar,J&K sacks 2 cops; 3 other employees over terro...
3650966,20220331,entertainment.hindi.bollywood,Ranbir Kapoor says 'Rishi Kapoor enjoyed his a...
3650967,20220331,city.trichy,As Covid-19 cases drop to nil in southern dist...
3650968,20220331,city.erode,Tamil Nadu sees marginal rise of Covid cases w...
3650969,20220331,city.salem,Tamil Nadu sees marginal rise of Covid cases w...

In [13]:
real = real.drop(labels=['publish_date','headline_category'],axis=1)

In [14]:
real

                                             headline_text
0        Status quo will not be disturbed at Ayodhya; s...
1                      Fissures in Hurriyat over Pak visit
2                    America's unwanted heading for India?
3                       For bigwigs; it is destination Goa
4                     Extra buses to clear tourist traffic
...                                                    ...
3650965  J&K sacks 2 cops; 3 other employees over terro...
3650966  Ranbir Kapoor says 'Rishi Kapoor enjoyed his a...
3650967  As Covid-19 cases drop to nil in southern dist...
3650968  Tamil Nadu sees marginal rise of Covid cases w...
3650969  Tamil Nadu sees marginal rise of Covid cases w...

[3650970 rows x 1 columns]

In [15]:
real = real.rename(columns={'headline_text':'text'})

In [16]:
real

                                                      text
0        Status quo will not be disturbed at Ayodhya; s...
1                      Fissures in Hurriyat over Pak visit
2                    America's unwanted heading for India?
3                       For bigwigs; it is destination Goa
4                     Extra buses to clear tourist traffic
...                                                    ...
3650965  J&K sacks 2 cops; 3 other employees over terro...
3650966  Ranbir Kapoor says 'Rishi Kapoor enjoyed his a...
3650967  As Covid-19 cases drop to nil in southern dist...
3650968  Tamil Nadu sees marginal rise of Covid cases w...
3650969  Tamil Nadu sees marginal rise of Covid cases w...

[3650970 rows x 1 columns]

In [17]:
real['class']=1 # indicating this is true

In [18]:
real

                                                      text  class
0        Status quo will not be disturbed at Ayodhya; s...      1
1                      Fissures in Hurriyat over Pak visit      1
2                    America's unwanted heading for India?      1
3                       For bigwigs; it is destination Goa      1
4                     Extra buses to clear tourist traffic      1
...                                                    ...    ...
3650965  J&K sacks 2 cops; 3 other employees over terro...      1
3650966  Ranbir Kapoor says 'Rishi Kapoor enjoyed his a...      1
3650967  As Covid-19 cases drop to nil in southern dist...      1
3650968  Tamil Nadu sees marginal rise of Covid cases w...      1
3650969  Tamil Nadu sees marginal rise of Covid cases w...      1

[3650970 rows x 2 columns]

In [29]:
fake = p.read_csv('fake/news_dataset.csv')

In [30]:
fake

     label                                               text
0     REAL  Payal has accused filmmaker Anurag Kashyap of ...
1     FAKE  A four-minute-long video of a woman criticisin...
2     FAKE  Republic Poll, a fake Twitter account imitatin...
3     REAL  Delhi teen finds place on UN green list, turns...
4     REAL  Delhi: A high-level meeting underway at reside...
...    ...                                                ...
3724  REAL  19:17 (IST) Sep 20\n\nThe second round of coun...
3725  REAL  19:17 (IST) Sep 20\n\nThe second round of coun...
3726  FAKE  The Bengaluru City Police’s official Twitter h...
3727  REAL  Sep 20, 2020, 08:00AM IST\n\nSource: TOI.in\n\...
3728  REAL  Read Also\n\nRead Also\n\nAdvocate Ishkaran Bh...

[3729 rows x 2 columns]

In [31]:
fake = fake.drop(labels='label',axis=1)

In [32]:
fake

                                                   text
0     Payal has accused filmmaker Anurag Kashyap of ...
1     A four-minute-long video of a woman criticisin...
2     Republic Poll, a fake Twitter account imitatin...
3     Delhi teen finds place on UN green list, turns...
4     Delhi: A high-level meeting underway at reside...
...                                                 ...
3724  19:17 (IST) Sep 20\n\nThe second round of coun...
3725  19:17 (IST) Sep 20\n\nThe second round of coun...
3726  The Bengaluru City Police’s official Twitter h...
3727  Sep 20, 2020, 08:00AM IST\n\nSource: TOI.in\n\...
3728  Read Also\n\nRead Also\n\nAdvocate Ishkaran Bh...

[3729 rows x 1 columns]

In [33]:
fake['class']=0 #indicating false

In [34]:
fake

                                                   text  class
0     Payal has accused filmmaker Anurag Kashyap of ...      0
1     A four-minute-long video of a woman criticisin...      0
2     Republic Poll, a fake Twitter account imitatin...      0
3     Delhi teen finds place on UN green list, turns...      0
4     Delhi: A high-level meeting underway at reside...      0
...                                                 ...    ...
3724  19:17 (IST) Sep 20\n\nThe second round of coun...      0
3725  19:17 (IST) Sep 20\n\nThe second round of coun...      0
3726  The Bengaluru City Police’s official Twitter h...      0
3727  Sep 20, 2020, 08:00AM IST\n\nSource: TOI.in\n\...      0
3728  Read Also\n\nRead Also\n\nAdvocate Ishkaran Bh...      0

[3729 rows x 2 columns]

In [35]:
fake.isna().sum()

text     8
class    0
dtype: int64

In [36]:
mix= p.concat([real,fake],axis=0)

In [37]:
mix

                                                   text  class
0     Status quo will not be disturbed at Ayodhya; s...      1
1                   Fissures in Hurriyat over Pak visit      1
2                 America's unwanted heading for India?      1
3                    For bigwigs; it is destination Goa      1
4                  Extra buses to clear tourist traffic      1
...                                                 ...    ...
3724  19:17 (IST) Sep 20\n\nThe second round of coun...      0
3725  19:17 (IST) Sep 20\n\nThe second round of coun...      0
3726  The Bengaluru City Police’s official Twitter h...      0
3727  Sep 20, 2020, 08:00AM IST\n\nSource: TOI.in\n\...      0
3728  Read Also\n\nRead Also\n\nAdvocate Ishkaran Bh...      0

[3654699 rows x 2 columns]

In [38]:
mix.isna().sum()

text     8
class    0
dtype: int64

In [39]:
mix.dropna(subset='text',inplace=True)

In [40]:
mix

                                                   text  class
0     Status quo will not be disturbed at Ayodhya; s...      1
1                   Fissures in Hurriyat over Pak visit      1
2                 America's unwanted heading for India?      1
3                    For bigwigs; it is destination Goa      1
4                  Extra buses to clear tourist traffic      1
...                                                 ...    ...
3724  19:17 (IST) Sep 20\n\nThe second round of coun...      0
3725  19:17 (IST) Sep 20\n\nThe second round of coun...      0
3726  The Bengaluru City Police’s official Twitter h...      0
3727  Sep 20, 2020, 08:00AM IST\n\nSource: TOI.in\n\...      0
3728  Read Also\n\nRead Also\n\nAdvocate Ishkaran Bh...      0

[3654691 rows x 2 columns]

In [41]:
mix.isna().sum()

text     0
class    0
dtype: int64

In [42]:
mix = mix.sample(frac=1)

In [43]:
mix

                                                      text  class
86772              D'Souza flays Parrikar's snub to Khalap      1
1621334  Adi wanted me to look hot & not sweet in Auran...      1
3062982      4 of a family booked for assaulting neighbour      1
775703   GSPC's KG basin discovery 10.8 TCF: Saurabh Patel      1
2380680  Serial killer held; 2nd in 5 days; for killing...      1
...                                                    ...    ...
71998              Candidates forced to espouse Naga cause      1
1108949  Cops pin hopes on call records to crack double...      1
3557040  Megan Fox and Kourtney Kardashian strip in a p...      1
3585914  BJP stages one-day hunger strike against gover...      1
453225   Consumers suffer as Trai; DoT fight over ombud...      1

[3654691 rows x 2 columns]

In [44]:
mix.reset_index(inplace=True)

In [45]:
mix

           index                                               text  class
0          86772            D'Souza flays Parrikar's snub to Khalap      1
1        1621334  Adi wanted me to look hot & not sweet in Auran...      1
2        3062982      4 of a family booked for assaulting neighbour      1
3         775703  GSPC's KG basin discovery 10.8 TCF: Saurabh Patel      1
4        2380680  Serial killer held; 2nd in 5 days; for killing...      1
...          ...                                                ...    ...
3654686    71998            Candidates forced to espouse Naga cause      1
3654687  1108949  Cops pin hopes on call records to crack double...      1
3654688  3557040  Megan Fox and Kourtney Kardashian strip in a p...      1
3654689  3585914  BJP stages one-day hunger strike against gover...      1
3654690   453225  Consumers suffer as Trai; DoT fight over ombud...      1

[3654691 rows x 3 columns]

In [47]:
X = mix['text']
y = mix['class']

In [48]:
X

0                    D'Souza flays Parrikar's snub to Khalap
1          Adi wanted me to look hot & not sweet in Auran...
2              4 of a family booked for assaulting neighbour
3          GSPC's KG basin discovery 10.8 TCF: Saurabh Patel
4          Serial killer held; 2nd in 5 days; for killing...
                                 ...
3654686              Candidates forced to espouse Naga cause
3654687    Cops pin hopes on call records to crack double...
3654688    Megan Fox and Kourtney Kardashian strip in a p...
3654689    BJP stages one-day hunger strike against gover...
3654690    Consumers suffer as Trai; DoT fight over ombud...
Name: text, Length: 3654691, dtype: object

In [49]:
y

0          1
1          1
2          1
3          1
4          1
          ..
3654686    1
3654687    1
3654688    1
3654689    1
3654690    1
Name: class, Length: 3654691, dtype: int64

In [52]:
mix2  =mix[mix['class']==0]

In [53]:
mix2

         index                                               text  class
102       2228  A disturbing video from Rajasthan of a man tie...      0
857        271  An image of a porn star is being shared on Fac...      0
1009       864  A video from October last year, showing UP Chi...      0
2909      3227  \n\n\n\nA video of a landslide that occurred i...      0
4088      1544  Hindi news websites Dainik Bhaskar, Amar Ujala...      0
...        ...                                                ...    ...
3650618   3719  A set of images is being shared on Facebook wi...      0
3652992   2856  AMARAVATI: Examination for jobs in Andhra Prad...      0
3653376   2502  Tripura Chief Minister Biplab Deb used a photo...      0
3654018   3183  A scene from a online show where a group of pe...      0
3654434   3382  Dramatic footage of a rocket crashing seconds ...      0

[3721 rows x 3 columns]

In [54]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3)

In [55]:
X_train

3491318         FDI norms liberalised for small scale sector
2281084                             Entire world in a family
2555377    A week after agreeing to it; Nepal has not mov...
1011272     Pune: Proxy writer for police examination nabbed
1324296      Minority investors rush to be part of cos' mgmt
                                 ...
157309                                              Your say
2672497    Human rights groups protest Sharon's visit to ...
1926996    Devas may lose international arbitration winni...
2478006           ISL: Atletico de Kolkata thrash FC Goa 4-0
3541255      Archbishop leads prayer services on Palm Sunday
Name: text, Length: 2558283, dtype: object

In [56]:
X_test

3275901            Delivery man cuts cake with machete; held
867054          BJP leaders take party chief matter to Delhi
2705103                     RTR service lane encroached upon
2753440                                  The Kamal conundrum
3417979              Sharapova seeks answer to Serena voodoo
                                 ...
1723249          Sports trials in 10 disciplines from Friday
2089633    VVIP chopper scam: Italy papers reveal dalals'...
1919903       Weed posing threat to Pili River near Mankapur
1392591    Boy survives fall from terrace while chasing k...
1960563       Liquid nitrogen: Visual drama; medical trauma?
Name: text, Length: 1096408, dtype: object

In [57]:
y_train

3491318    1
2281084    1
2555377    1
1011272    1
1324296    1
          ..
157309     1
2672497    1
1926996    1
2478006    1
3541255    1
Name: class, Length: 2558283, dtype: int64

In [58]:
y_test

3275901    1
867054     1
2705103    1
2753440    1
3417979    1
          ..
1723249    1
2089633    1
1919903    1
1392591    1
1960563    1
Name: class, Length: 1096408, dtype: int64

In [60]:
# vec
vec =TfidfVectorizer()
X_train_vec = vec.fit_transform(X_train)
X_test_vec = vec.transform(X_test)

In [61]:
X_train_vec

<2558283x196314 sparse matrix of type '<class 'numpy.float64'>'
	with 19799718 stored elements in Compressed Sparse Row format>

In [62]:
X_test_vec

<1096408x196314 sparse matrix of type '<class 'numpy.float64'>'
	with 8455675 stored elements in Compressed Sparse Row format>

In [63]:
RC = RandomForestClassifier()
RC.fit(X_train_vec,y_train)

RandomForestClassifier()

In [64]:
RC.score(X_test_vec,y_test)

0.9999480120539069

In [65]:
LS = LinearSVC()
LS.fit(X_train_vec,y_train)

LinearSVC()

In [66]:
LS.score(X_test_vec,y_test)

0.9999936155153921

In [93]:
data = 'The Twitter Files Revealed One Thing: Elon Musk Is Trapped'

In [94]:
import re
import string
def wordopt(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub("\\W"," ",text) 
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)    
    return text

In [95]:
wordopt(data)

'the twitter files revealed one thing  elon musk is trapped'

In [96]:
data

'The Twitter Files Revealed One Thing: Elon Musk Is Trapped'

In [97]:
def manual_testing(news):
    testing_news = {"text":[news]}
    new_def_test = p.DataFrame(testing_news)
    new_def_test["text"] = new_def_test["text"].apply(wordopt) 
    new_x_test = new_def_test["text"]
    new_xv_test = vec.transform(new_x_test)
    p_lr = LS.predict(new_xv_test)
    print(p_lr)

In [98]:
manual_testing(data)

[1]